{% extends "layout.html" %}
{% block content %}
<div id="greet">
ברוכים הבאים, {{ email }}.
</div>
<div id="nav">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">לינק</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">לינק</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">לינק</a>
  </li>
</ul>
</div>
<div class="row">
  <div class="menu">
	<a href="#">לינק</a><br>
	<a href="#">לינק</a><br>
	<a href="#">לינק</a><br>
	<a href="#">לינק</a><br>
  </div>
  <div class="right">
	right
  </div>
  <div class="mid">
    <h2>Calender</h2>
    <p>Some text..</p>
  </div>
  <div class="left">
	left
  </div>
</div>
נקודות זכות : 0  שעות שבועיות : 0 
{% endblock %}