{% extends "layout.html" %}
{% block content %}
<div id="greet">
ברוכים הבאים, {{ email }}. <br>
<b>צהריים טובים</b>
</div>
<nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/create">
          <button class="btn btn-outline-success" type="submit">יצירת מערכת מותאמת אישית</button>
        </form>
        <form>
          <div id="nextprev">
                <button type="button" class="btn btn-primary">מערכת קודמת</button>
                <button type="button" class="btn btn-primary">מערכת הבאה</button>
          </div>
        </form>
</nav>
<div class="main">
<span id="title">מערכת שעות</span>
<div id="myDynamicTable"></div>
</div>
<div class="alert alert-primary" role="alert">
    נקודות זכות : 0  שעות שבועיות : 0 
</div>  
<div id="task-header">משימות</div>
<div class="row">
    {% for i in range(7) %}
    <div class="column">
        <strong>משימות</strong>
        <ol id="TasksList"></ol>
        <form id="new-task">
        <input type="text" class="TextField" autocomplete="off" autofocus placeholder="הערה.."/>
        <button type="submit" class="btn btn-dark">הוסף</button>
        </form>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{{ url_for('static',filename='table.js') }}"></script>
{% endblock %}