
#greet {
text-align: right;	
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-border-radius: 4px;
border-radius: 4px;
margin-bottom: 10px;
padding: 10px;
}

/* Create four columns that floats next to each other */
.main {
  margin: 10px;
  padding: 10px;
}
#nextprev {
  margin-right: 370px;
}

#title {
font-weight: 20px;
font-weight: bold;
}

#task-header {
  text-align:center;
  font-weight: bold;
  font-size: 16px;
}

#myDynamicTable {
  margin-right: 100px;
}
#myDynamicTable td {
  padding: 10px;
  margin: 10px;
}
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 100px;
  padding: 10px;
  margin: 5px 10px 10px 5px;
  text-align: center;
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
  -webkit-box-shadow: 4px 10px 5px -9px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 10px 5px -9px rgba(0,0,0,0.4);
  box-shadow: 4px 10px 5px -9px rgba(0,0,0,0.4);
}
.row {
  margin-right: 30px;
}

ol {
  margin-right: -20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#TasksList {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
#new-task {
  text-align: right;
}

.TextField {
  width: 70px;
  height: 40px;
  margin: 8px 0;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}
