body {
    text-align: center;
    padding: 50px;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	height: 100vh;
	direction: rtl;
    font-family: Arial,Verdana,'sans serif';  
}
#container {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    resize: both;
    overflow: auto;
    min-width: 50px; /*suggest a min-width &amp; min-height*/
    min-height: 50px;
}

a {
    text-decoration: none;
}

#header {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
    min-width: 50px; /*suggest a min-width &amp; min-height*/
    min-height: 50px;
	margin-bottom: 10px;
}

#header .ariellogo img {
    width: 100px;
    height: 60px;
    float: left;
}

#header .ourlogo img {
    width: 55px;
    height: 65px;
    float: right;
}

#menu {
        padding: 10px;
        clear: both;
		background-color: #051937;
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

#menu a {
	color: white;
    padding-left: 20px;
    
}

#menu .selected {
    font-weight: bold;   
}

#content {
    clear: both;
    margin: 10px;  
	text-align:center;
}
#content p {
text-align: right;	
}

#footer {
        padding: 5px;
        text-align: right;
        clear: both;
        background: #ECE9E6;  /* fallback for old browsers */
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

#footer {
        text-align: right;
        clear: both;
        background: #ECE9E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-border-radius: 4px;
        border-radius: 4px;
}

#footer a {
    font-weight: bold;
}
#footer p {
	float: left;
}
#links {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
}

#links .findus {
margin-top: 5px;
float: left;	
}

#links .linksdata {
float: right;	
}